<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<main>
<div class="ListInput">
	<h1>로그인</h1>
	<form action="/login" method="POST">
		아이디 : 
		<div class="Input">
			<input type="text" name="inputID" class="inputbox" placeholder="아이디를 입력하세요.">
		</div>
		비밀번호 : 
		<div class="Input">
			<input type="text" name="inputPW" class="inputbox" placeholder="비밀번호를 입력하세요.">
		</div>

		<div class="Box">
			<input type="submit" id="send" value="로그인">
        
    </form>
        
			<button class="insert_bt"><a class="visited" href="/signin">회원가입</a></button>
		</div>
</div>
</main>
</body>
</html>
